@import url('https://fonts.googleapis.com/css?family=Roboto:300|Ubuntu:300');

/* Global */
body {
  font-family: 'Ubuntu', 'Roboto', sans-serif;
  box-sizing: border-box;
  min-width: 340px;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a:link,
a:visited {
  text-decoration: none;
  color: #444;
}


/** Mobile first CSS **/
/* Wrapper class for creating a grid */
.wrapper {
  display: grid;
  grid-template-rows: 10em 5.5em 1fr;
  grid-row-gap: 1em;
  width: 90%;
  margin: 1.5em 5%;
  overflow: hidden;
}


/* Header */
#main-header {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "logo"
                       "title";
  justify-items: center;
  align-items: center;
  border-bottom: 2px solid #7d97ad;
}

#main-header img {
  grid-area: logo;
  width: 70px;
}

#main-header .title {
  grid-area: title;
  color: #2d3c49;
}

#main-header .title h1,
#main-header .title h4 {
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
}

#main-header .title h1 {
  font-size: 2.5em;
}

#main-header .title h4 {
  font-size: 1em;
}


/* Sidebar */
#sidebar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

#sidebar .color-box {
  display: grid;
  justify-items: center;
}

#sidebar .color-box .box {
  width: 60px;
  padding-top: 60px;
}

#sidebar .color-box p {
  color: #596c7c;
  padding-top: 5px;
  font-size: 1.1rem;
}

.blue {
  background-color: #02b3e4;
}

.dark-gray {
  background-color: #2d3c49;
}

.light-gray {
  background-color: #7d97ad;
}


/*** Main Area ***/
/* Showcase */
#showcase {
  margin-bottom: 1em;
}

#showcase img {
  width: 100%;
}


/* Featured Work */
#featured-work {
  text-align: center;
}

#featured-work > h2 {
  color: #7d97ad;
  font-size: 2em;
  font-weight: 500;
  padding: 10px;
}

#featured-work .links {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 20px;
}

#featured-work .links .project img {
  width: 100%;
}

#featured-work .links .project h3 {
  font-size: 1.8em;
  text-transform: uppercase;
}


/** Media Queries **/
/* Screens larger than phones (tablets) */
@media only screen and (min-width: 641px) {
  /* Global */
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 7em 1fr;
    grid-template-areas: "header header"
                         "sidebar main-area";
    grid-gap: 0 0.5em;
    margin: 0.7em 5%;
  }


  /* Header */
  header {
    grid-area: header;
    display: grid;
    grid-template-columns: 2fr 7fr;
  }

  #main-header {
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-rows: none;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "logo . title title title title";
  }

  #main-header img {
    justify-self: start;
  }

  #main-header .title {
    justify-self: end;
  }

  #main-header .title h1,
  #main-header .title h4 {
    text-align: right;
  }


  /* Sidebar */
  #sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-columns: none;
    grid-template-rows: repeat(3, 120px);
    justify-items: end;
  }

  #sidebar .color-box {
    display: grid;
    justify-items: end;
    margin-right: 25%;
  }

  #sidebar .color-box .box {
    width: 80px;
    padding-top: 80px;
  }

  #sidebar .color-box p {
    font-size: 1.4rem;
  }


  /* Main Area */
  main {
    grid-area: main-area;
    display: grid;
    grid-template-rows: auto auto;
    grid-row-gap: 5px;
  }


  /* Showcase Image */
  #showcase {
    margin-top: 15px;
    margin-bottom: 0;
  }
}

/* Laptops and bigger screens */
@media only screen and (min-width: 961px) {
  /* Header */
  header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 6fr;
  }


  /* Main Area */
  main {
    grid-area: main-area;
    display: grid;
    grid-template-rows: auto auto;
    grid-row-gap: 5px;
  }


  /* Featured Work */
  #featured-work {
    text-align: left;
  }

  #featured-work > h2 {
    font-size: 2.2em;
  }

  #featured-work .links {
    display: grid;
    grid-template-rows: none;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-column-gap: 10px;
  }

  #featured-work .project {
    text-align: center;
  }

  #featured-work .links .project h3 {
    font-size: 1.9em;
  }
}
